@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Contact.css">
</head>
<body>
   

    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>

        <section class="contact-info">
            <h2>Contact with us</h2>
            <p>
                Address:<br>
                One Microsoft Way<br>
                Redmond, WA 98052-6399
            </p>
            <p>
                Phone:<br>
                425.555.0100
            </p>
            <p>
                Email:<br>
                <a href="mailto:info@example.com">info@example.com</a>
            </p>
        </section>

        <section class="contact-form">
            <h2>Write us</h2>
            <form action="/Contact/Submit" method="post">
                <label for="name">Your namee:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Your e-mail:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Your message:</label>
                <textarea id="message" name="message" rows="5" required></textarea>

                <button type="submit">Send</button>
            </form>
        </section>

        <div class="book-sale" style="margin-top:25px;">
            <h3 style="text-align:center; margin-top:25px;">
                Our partners
            </h3>
            <hr style="width: 10%; margin: 0 auto; margin-bottom: 25px" />
            <table>
                <tr>
                    <td><p>Id</p></td>
                    <td><p>Name</p></td>

                    <td></td>
                </tr>
                @foreach (var b in ViewBag.Users)
                {
                    <tr>
                        <td><p>@b.Id</p></td>
                        <td><p>@b.Username</p></td>


                    </tr>
                }

            </table>


        </div>

        <section class="contact-form">
            <h2>Add Partner</h2>
            @using (Html.BeginForm("Add", "User", FormMethod.Post))
            {
                <label for="username">
                    Partner name:
                </label>
                <input type="text" id="username" name="Username" required>
                <button type="submit">
                    Add partner
                </button>
            }
        </section>
        <a href="@Url.Action("SignIn", "Access")" class="nav__link">Are you admin?</a>
</body>
</html>