<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_MenuBar")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("_Comment")
    @Html.Partial("_Footer")

</body>
</html>